/***********************************
    配色
***********************************/
.root{

    primary-color:#5C80EF;
    success-color:#33C437;
    info-color:#68C0FF;
    warn-color:#FFDC42;
    danger-color:#FF4B3A;

    text-color:#303133;
    border-color:#D4D7DE;
    base-color:#F2F3F5;
}
/***********************************
    ScrollBar 滚动条样式
***********************************/
.scroll-bar-style{
    -fx-background-color: transparent;
}
.scroll-bar-style > .viewport{
    -fx-background-color: transparent;
}
.scroll-bar-style .scroll-bar{
    /*-fx-block-increment:10000;*/
    -fx-unit-increment:20;
    -fx-background-color: transparent;
}
.scroll-bar-style .scroll-bar > .decrement-button > .decrement-arrow,
.scroll-bar-style .scroll-bar > .increment-button > .increment-arrow{
    -fx-background-color: transparent;
}
.scroll-bar-style .scroll-bar:vertical > .decrement-button,
.scroll-bar-style .scroll-bar:vertical > .increment-button{
    -fx-pref-height:0px;
    -fx-pref-width:0.01px;
}
.scroll-bar-style .scroll-bar:horizontal > .decrement-button,
.scroll-bar-style .scroll-bar:horizontal > .increment-button{
    -fx-pref-width:0px;
    -fx-pref-height:0.01px;
}
.scroll-bar-style .scroll-bar > .track{
    -fx-background-radius: 0px;
    -fx-background-color: transparent;
}
.scroll-bar-style .scroll-bar:vertical > .thumb, .scroll-bar-style .scroll-bar:horizontal > .thumb{
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-background-insets: 0px;
    -fx-background-radius: 3px;
}
.scroll-bar-style .scroll-bar:vertical{
    -fx-padding:6px 0px 6px 0px;
}
.scroll-bar-style .scroll-bar:horizontal{
    -fx-padding:0px 6px 0px 6px;
}
.scroll-bar-style .scroll-bar:vertical > .thumb,.scroll-bar-style .scroll-bar:vertical > .track{
    -fx-background-insets: 0px 0px 0px -6px;
}
.scroll-bar-style .scroll-bar:horizontal > .thumb,.scroll-bar-style .scroll-bar:horizontal > .track{
    -fx-background-insets: -6px 0px 0px 0px;
}
/***********************************
    TableView 表格样式
***********************************/
.cf-table-view{
    -fx-background-insets: 0;
    -fx-padding:0px;
    -fx-border-color: border-color;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-background-color: transparent;
}
.cf-table-view > .column-header-background{
    /*-fx-background-color: transparent;*/
    -fx-background-color:rgba(0,0,0,0.05);
}
.cf-table-view .column-header{
    -fx-background-color: transparent;
    -fx-pref-height:36px;
    -fx-border-width: 0 1px 1px 0;
    -fx-border-color:border-color;
}
.cf-table-view .column-header:last-visible{
    -fx-border-width: 0 0px 1px 0;
}
.cf-table-view .column-header .label {
    -fx-alignment: center-left;
    -fx-text-fill: text-color;
    -fx-padding: 0 10px 0 10px;
}
.cf-table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.cf-table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:hover{
    -fx-background-color: derive(primary-color,90%);
}
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected > .table-cell{
    -fx-text-fill: text-color;
}
.cf-table-view .table-row-cell {
    -fx-min-height:36px;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color:border-color;
}
.cf-table-view .table-cell {
    -fx-border-width: 0 1px 0 0;
    -fx-border-color:border-color;
    -fx-alignment: center-left;
    -fx-padding: 0 10px 0 10px;
}
.cf-table-view .table-cell:last-visible{
    -fx-border-width: 0;
}
.cf-table-view .table-row-cell:even {
    -fx-background-color: transparent;
}
.cf-table-view .table-row-cell:odd {
    -fx-background-color: rgba(0,0,0,0.02);
}
.cf-table-view .table-cell:empty {
    -fx-border-width: 0px;
}
.cf-table-view .table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-background-insets: 0;
}