

*{
    -cf-primary-color:#409EFF;
    -cf-success-color:#67C23A;
    -cf-info-color:#909399;
    -cf-warn-color:#E6A23C;
    -cf-danger-color:#F56C6C;

    -cf-text-color:#303133;
    -cf-border-color:#D4D7DE;
    -cf-base-color:#F2F3F5;
}