.main{
    -fx-padding: 20px;
    -fx-background-color: rgb(255,255,255);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 20.0, 0, 0, 0);
}
.main .close{
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-cursor:hand;
    -fx-padding:0;
}
.main .close > .ikonli-font-icon{
    -fx-icon-size: 16px;
    -fx-icon-color: -cf-text-color;
}