.cf-message{
    -fx-padding: 0 20px;
    -fx-pref-height: 45px;
    -fx-spacing:10px;
    -fx-background-color:rgb(255,255,255);
    -fx-background-radius:3px;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10.0, 0, 0, 2.0);*/
    -fx-border-color:-cf-border-color;
    -fx-border-radius:3px;
    -fx-alignment:center;
}
.icon-label > .ikonli-font-icon{
    -fx-icon-color: -cf-primary-color;
    -fx-icon-size:20px;
}
.mess-label{
    -fx-text-fill: -cf-primary-color;
    -fx-font-size: 14px;
    -fx-max-width: 300px;
}
.cf-message.success > .icon-label > .ikonli-font-icon{-fx-icon-color: -cf-success-color;}
.cf-message.info > .icon-label > .ikonli-font-icon{-fx-icon-color: -cf-info-color;}
.cf-message.warn > .icon-label > .ikonli-font-icon{-fx-icon-color: -cf-warn-color;}
.cf-message.danger > .icon-label > .ikonli-font-icon{-fx-icon-color: -cf-danger-color;}

.cf-message.success > .mess-label{-fx-text-fill: -cf-success-color;}
.cf-message.info > .mess-label{-fx-text-fill: -cf-info-color;}
.cf-message.warn > .mess-label{-fx-text-fill: -cf-warn-color;}
.cf-message.danger > .mess-label{-fx-text-fill: -cf-danger-color;}

.close-label{
    -fx-cursor:hand;
}
.close-label > .ikonli-font-icon{
    -fx-icon-size: 12px;
    -fx-icon-color: -cf-text-color;
}