
.sign-up-box, .sign-in-box{
    -fx-pref-height: 370px;
    -fx-border-color: -cf-border-color;
    -fx-border-radius: 5px;
    -fx-background-color: rgb(255,255,255);
    -fx-background-radius: 5px;
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-alignment: bottom-center;
}
.qr-code-label{
    -fx-background-radius: 5px;
    -fx-background-color: derive(-cf-primary-color, 60%);
}
.qr-code-label:hover{
    -fx-background-color: -cf-primary-color;
}
.qr-code-label > .ikonli-font-icon{
    -fx-icon-size: 50px;
    -fx-icon-color: rgb(255,255,255);
}