.user-detail{
    -fx-padding: 50px;
    -fx-spacing: 15px;
    -fx-max-width: 300px;
    -fx-alignment: center;
}
.introduction-label{
    -fx-font-size: 13px;
    -fx-text-fill: derive(-cf-text-color,50%);
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}
.button-box{
    -fx-padding: 10px;
    -fx-spacing: 20px;
    -fx-alignment: center;
}
.button-box > .button{
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor:hand;
}
.button-box > .button:hover{
    -fx-opacity:0.8;
}